{% extends "base.html" %}

{% block title %}finding your plant{% endblock title %}
{% block body %}<style>
    /* styles.css */
body {
    background-image: url('https://images.alphacoders.com/134/1348656.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width: 600px;
    border-radius:20px;
    transform:translate(10%,50%)
    height:500px;

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4); /* Add a semi-transparent background color to the container */
}

h1 {
    text-align:center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

</style>
<div class="container">
<h1>Find Your Plant</h1>

<form method="post">
    {% csrf_token %}
    <label for="search_query">Enter plant name:</label>
    <input type="text" id="search_query" name="search_query">
    <button type="submit">Search</button>
</form>
</div>




{% endblock body %}